
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Playfair+Display&display=swap');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #815E5B ;
    --secondary-color: #0E103D;
    --accent1-color: #D3B88C;
    --accent2-color: #4EFFEF;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Playfair Display', seri;
    --paragraph-font: 'Merienda', cursive;;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #8FA6CB;  /* headlines on a white background */ 
    --headline-color-on-color: black; /* headlines on a colored background */ 
    --paragraph-color-on-white: #8FA6CB; /* paragraph text on a white background */ 
    --paragraph-color-on-color: black; /* paragraph text on a colored background */ 
    --paragraph-background-color: #8FA6CB ;
    --nav-link-color: black;
    --nav-background-color: #D3B88C;
    --nav-hover-link-color: black;
    --nav-hover-background-color: #8FA6CB;
  }
body {
  background-color: #964B00;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  color: var(--paragraph-color-on-color);
  text-align: center;
  background-color: var(--paragraph-background-color);
  margin-bottom: 20px;
  border-radius: 5px;
  display:grid;
  grid-template-columns: 150px auto;
}
.logo {
  width:110px;
  height: 110px;
  padding-left: 5px;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

footer {
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
  border-radius: 5px;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyright {
  color: black;
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.8em;
  border-radius: 50px;
  float: right;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.logo {
  border-radius: 50%;
}

.fancy {
  text-align: center;
}
.fancy-img {
  max-width: 100%;
  border-radius: 5px;
}
.fancy-msg {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8FA6CB;
  border-radius: 50px;
  padding: 5px 5px;
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
}

.button-box {
  background-color: #D3B88C;
  border-radius: 50px;
  padding: 15px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 200px;
  margin-right: 200px;
  text-decoration: none;
}

.order {
  font-size: 20px;
  color: black;
}

.enjoy-question {
  color: black;
  font-size: 45px;
}

.au {
  font-size: 50px;
  color: #4EFFEF;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr ;
}

.lucy {
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 100%;
  border-radius: 5px;
}

.access-section {
  grid-column: 2/2;
  grid-row: 1/2;
}


.access {
  font-size: 40px;
  color: #4EFFEF;
}

.lucy-heading {
  font-size: 35px;
  color: #4EFFEF;
}

.customers-heading {
  font-size: 35px;
  color: #4EFFEF;
}

.access-paragraph {
  font-size: 35px;
}

.lucy-paragraph {
  font-size: 28px;
}

.customers-paragraph {
  font-size: 25px;
}

.working {
  grid-column: 2/2;
  grid-row: 2/2;
  max-width: 100%;
  border-radius: 5px;
}

.class-section {
  grid-column: 1/2;
  grid-row: 2/2;
}

.mission {
  font-size: 40px;
  color: #4EFFEF;
}

.mission-paragraph {
  font-size: 30px;
}

/* The Overlay (background) */
.fullscreen {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #964B00; /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.fullscreen-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.fullscreen a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.fullscreen a:hover, .fullscreen a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.fullscreen .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.menu {
  font-size: 20px;
}

.who {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px 400px;

}

.lucy-section {
  grid-column: 1/2;
  grid-row: 1/2;
}

.round {
  grid-column: 2/2;
  grid-row: 1/2;
  max-width: 100%;
  max-height: 700px;
  border-radius: 5px;
  margin-top: 70px;
  margin-left: 50px;
}

.customers {
  grid-column: 1/2;
  grid-row: 2/2;
}

.braided {
  grid-column: 2/2;
  grid-row: 2/2;
  max-width:100%;
  max-height: 400px;
  border-radius: 5px;
  margin-top: 70px;
  margin-left: 50px;
}

.site {
  font-size:50px;
  color: #4EFFEF;
}